

/** HEADER **/
.navbar {
  background-color: #27ae60;
}

.navbar-brand {
    line-height: 150px;
    height: 100px;
    padding-top: 0;
}

.navbar-brand h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #2c3e50;
}
#nav-list a {
  color: black;
  text-align: center;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle {
  margin-top: 25px;
  background-color: #9b59b6;
  border: 1px solid black;
}

.navbar-header button.navbar-toggle span {
  border: 1px solid black;
}

.navbar-collapse li {
  background-color: #9b59b6;
  text-align: center;
  border: 1px solid black;
}

.navbar-collapse ul {
  border: 2px solid black;
}

/* END HEADER */

/* BODY */
body {
  padding-top: 150px;
}

#main-page-title {
  font-weight: bold;
  padding-bottom: 15px;
}
/* END BODY */
