

/** HEADER **/
.navbar-brand,
.navbar-nav li a {
    line-height: 150px;
    height: 100px;
    padding-top: 0;
}

.navbar-brand h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
/* END HEADER */

/* BODY */
body {
  padding-top: 150px;
}
/* END BODY */
